mixin menu()
  #menu.text-right
    div.mt-1
      a(href="/home") Accueil
      a(href="/home/service") Services
      a(href="/home/account") Compte
      a(href="/account/logout") Déconnexion
    hr.mx-2.mt-2