extends layout
block content
  h1.mt-5 Comfirmation par Email
    br
    h3.mb-2 Entrez le code de comfirmation reçu par email pour continuer
    .text-center.col-6.mx-auto
      form(method="POST" action="/authentication/emailAuth/confirm")
        .form-group
          label(for='code') Code à 6 chiffres
          input.form-control(id='code', name='code', type='text' placeholder='ex:123456')
        button.btn.btn-dark S'authentifier
  block script
    script(src="/javascripts/vendor/jquery-3.5.1.min.js")
    script(src="/javascripts/numberOnly.js")