extends layout
block content
  +menu()
  h1 Accueil
  br
  h3.mb-3 Les services que nous supportons pour moment
  .d-flex.justify-content-center
    ul.list-group.list-group-horizontal
      each service in services
        li
          img.service-icon(src=service.img alt=service.name)