include mixins/base
include mixins/form
include mixins/menu
html
  head
    title=(isset(title) ? title : "Password Manager")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    include mixins/header
    #main-container.container.p-2
      block menu
      +flash
      block content
    block script
    include mixins/footer