extends layout
block content
  h1.mt-4 Connexion
  p Connectez vous de façon sécuritaire pour gérer vos mots de passe
  .text-center.mx-auto.col-6
    form.text-center.mx-auto(action="/account/login" method="POST")
      +input("Nom d'utilisateur", "username", "text")
      +input("Mot de passe", "password", "password")
      .form-group.mb-1
        input.form-check-input(type="checkbox" name="rememberMe" id="remember")
        label(for="remember") Se souvenir de moi
      button.btn.btn-dark(type="submit") Se connecter
    .text-center.mx-auto
      p Pas encore de compte? &nbsp;
        a(href="/signUp") Inscrivez-vous ici
