extends layout
block content
  h1.pt-4 Inscription
  p Inscrivez-vous de façon sécuritaire dès maintenant!
  .text-center.mx-auto.col-6
    form.text-center.mx-auto(action="/account/register" method="POST")
      .form-row.form-group
        .col-6
          +input("Prénom", "firstname", "text")
        .col-6
          +input("Nom", "lastname", "text")
      .form-row.form-group
        .col-6
          +input("Nom d'utilisateur", "username", "text")
        .col-6
          +input("Mot de passe", "password", "password")
      button.btn.btn-dark(type="submit") S'inscrire
  .text-center.mx-auto
    p Déja un compte? &nbsp;
      a(href="/login") Connectez-vous!
